# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - dev   

pool:
  name: Self-hosted   

steps:
  - checkout: self
    persistCredentials: true  

  - task: PowerShell@2
    displayName: Merge dev into master
    inputs:
      targetType: inline
      script: |
        # Set Git user for merge commit
        git config user.name "Arpan Rai"
        git config user.email "arpankumarrai007@gmail.com"

        # Fetch all branches
        git fetch origin

        # Checkout master branch
        git checkout master

        # Merge dev into master automatically
        git merge origin/dev --no-ff -m "Automated merge of dev into master"

        # Push the merged master branch
        git push origin master
