# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Self-hosted

steps:
- script: |
    cd dotnet-ci-pipeline
    dotnet restore
  displayName: 'Restore'

- script: |
    cd dotnet-ci-pipeline
    dotnet build --configuration Release
  displayName: 'Build'

- script: |
    cd dotnet-ci-pipeline
    dotnet test
  displayName: 'Test'

