# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main   # or your branch name

pool:
  name: Self-hosted

steps:
# 1. Checkout the Git repo
- checkout: self

# 2. Restore & Build the .NET project
- script: |
    cd $(Build.SourcesDirectory)/Project/DemoApp
    dotnet restore
    dotnet build --configuration Release
  displayName: 'Restore & Build .NET Project'

# 3. Run the app
- script: |
    cd $(Build.SourcesDirectory)/Project/DemoApp
    dotnet run
  displayName: 'Run .NET App'
