# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

ttrigger:
- main

pool:
  name: Self-hosted

steps:
- script: |
    echo "Installing SonarScanner"
    wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.8.0.2856-linux.zip
    unzip -o sonar-scanner-cli-4.8.0.2856-linux.zip
    sudo mv sonar-scanner-4.8.0.2856-linux /opt/sonar-scanner
    export PATH=/opt/sonar-scanner/bin:$PATH
    sonar-scanner --version
  displayName: "Install SonarScanner"

- script: |
    export PATH=/opt/sonar-scanner/bin:$PATH
    sonar-scanner \
      -Dsonar.projectKey=demo \
      -Dsonar.projectName=Demo \
      -Dsonar.sources=. \
      -Dsonar.host.url=http://172.1.17.77:9000 \
      -Dsonar.login=$(SONAR_TOKEN)
  displayName: "Run SonarQube Analysis"
