# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Self-hosted

steps:
- script: |
    echo "Creating directories..."
    mkdir -p /home/apmosys/Downloads/Arpan/demo
    echo "Directory created successfully"
  displayName: 'Create Arpan/demo directory'


